button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #f1f6ce;
    border: 2px solid #f1f6ce;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
  
button:hover{
    background-color: #412a9c;
}
  
.button-click{
    background-color: #f21d41;
}
  
.button-reset{
    background-color: #379f7a;
}