* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: #0d0f36;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.main-container{
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}